.editPro {
    max-width: 768px;
    height: calc(100vh - var(--header-height));
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    font-family: iransans;
    background-color: var(--color-tertiary);
    .box {
        background-color: white;
        padding: 20px;
        border-radius: 1.5em;
        justify-content: start;
        display: flex;
        font-family: iransans;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    label {
        padding: 10px;
    }
}