.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
    height: 80px;
}

.header__logo {
    object-fit: contain;
    height: 40px;
}

.header__icon {
    padding: 20px;
}

.header .head-message {
    position: relative;
}

.header .newMessage {
    font-size: 50px;
    color: red;
    position: absolute;
    top: -24px;
    right: 41px;
}