.pro-container {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: auto;
    height: 90vh;
    overflow-x: hidden;
}

.pro-container .clip {
    position: absolute;
    height: 80vh;
    /* background-color: var(--color-primary); */
    /* background: rgb(253,41,123); */
    background: linear-gradient(157deg, rgba(253, 41, 123, 1) 0%, rgba(255, 88, 100, 1) 50%, rgba(255, 101, 91, 1) 100%);
    width: 150%;
    border-radius: 0% 0% 50% 50%;
    z-index: -2;

}

.pro-container .avatar-box {
    height: 30vh;
    object-fit: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;


}

.avatar-box p {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.pro-container .avatar-box img {
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 50%;


}

.avatar-box .noAvatar {
    border-radius: 50%;
    background-color: var(--color-secondary);
    border: 1px solid #f4f4f4;
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 50%;
}

.edit-avatar {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 7px;
}
.pro-container .upload-avatar{
    display:none;
}
.pro-container .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pro-container .upload-image {
    margin-top: 65px;
    position: relative;
}
.pro-container .upload-image .uplaodBoxHidden{
    width: 100%;
    height: 100%;
    position:absolute
}

.pro-container .icon-box {
    background-color: #f4f4f485;
}

.pro-container .info,
.edit,
.setting p {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: bold;
}

.info .upload-image,
.edit,
.setting {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pro-container .image-slider{
    position: absolute;
    z-index: 1;
    overflow-x: scroll;
    bottom: 0;
    width: 90%;
    display: flex;
    box-shadow: -7px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 1.5em;
    margin: 0px 10px 12px 10px;
    padding: 5px;
    background-color: #ffffffd6;
    overflow-y: hidden;
    justify-content: center;
    align-content: center;
    height: 15vh
}

.pro-container .image-slider .box{
    width : 100px;
    height: 100px;
    margin:5px

}
.pro-container .image-slider .box img{
margin:10px ; 
width: 100px;
height: 100px;
object-fit: fill;
 border-radius: 1.5em
}