* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

:root {
    --color-primary: #fe3c72;
    --color-secondary: white;
    --color-tertiary: #f5f5f5;
    --text-dark: #332f2f;
    --color-mci: #54c5d0;
    --color-rightel: #9b2776;
    --header-height: 80px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    background: white;
    color: #333;
}

.form-group,
.form-group label,
.form-group input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-group label {
    font-size: 0.8rem;
}

.form-group input {
    padding: 10px 20px;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: #eee;
    outline-width: 0;
    font-size: 1rem;
}

.form-group input:focus {
    border-bottom: 3px solid coral;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: coral;
    color: #fff;
}

.error-message {
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: red;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
}

.success-message {
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: green;
    color: #fff;
    text-align: center;
    margin: 0.5rem 0;
}

input {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
}

select.custom {
    width: 100%;
    background: white;
    outline: none;
    border: none;
    border-radius: 1.5em;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color-primary);
    height: 50px;
}

input.custom {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
    /* color: var(--color-primary); */
    padding: 5px;
    border: 1px solid var(--color-primary);
    border-radius: 1.5em;
    height: 50px;
}

label {
    font-family: initial;
    font-weight: bold;
}

.customBtn {
    width: 100%;
    font-size: 18px;
    background-color: var(--color-primary) !important;
    color: white;
    border-radius: 1.5em;
    padding: 10px !important;
    text-align: center;
    margin: 10px auto;
    color: white !important;
    font-weight: 18px !important;
    height: 45px;
}

.main {
    max-width: 768px;
    height: calc(100vh - var(--header-height));
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    padding: 10px;
    font-family: iransans;
    background-color: var(--color-tertiary);
}

.app {
    max-width: 768px;
    width: 100%;
    margin: auto;
}